*{
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
}

.navbar {
  padding: 0;
}

.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.3em !important;
  color: black;
}

.active{
  background: yellow;
 color: #1b1a4d;
}

.container{
  margin-top: 50px;
}


.card{
 display: inline-block;
 border-style: none;
 padding: 5px;

}
#a:hover{
background-image: url(./a.png);
background-size: cover;
color: yellow;
font-weight: bold;
}
#b:hover{
background-image: url(./b.png);
background-size: cover;
color: yellow;
}
#c:hover{
background-image: url(./c.png);
background-size: cover;
color: yellow;
}
#d:hover{
background-image: url(./ab.png);
background-size: cover;
color: red;
}
#e:hover{
background-image: url(./e.png);
background-size: cover;
color: yellow;
}
#f:hover{
background-image: url(./f.png);
background-size: cover;
color: yellow;
}

#a1:hover{
  background-color: black;
  color:yellow;
}
#b1:hover{
  background-color: black;
  color:yellow;
}
#c1:hover{
  background-color: black;
  color:yellow;
}
